<div class="f-header">
    <div>
        <img src="assets/logos/itau-bba-logo-0.png" alt="logo" class="logo">
    </div>

    <div class="header">
        <button mat-button>PT</button>
        <div class="header-profile">
            <img src="assets/logos/itau-bba-logo-0.png" style="border-radius: 5px;" alt="logo" class="logo">
            <mat-divider [vertical]="true"></mat-divider>
            <div class="header-profile-info">
                <span>John Doe</span>
                <span>Director of IBBA</span>
            </div>
            <button mat-icon-button>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="keyboard_arrow_down"></mat-icon>
            </button>
        </div>
    </div>
</div>
